<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->
 <style>
    #all{
      width: 100%;
      margin: 0 auto;
      margin-top: 10px;
    }
    #image{
      width: 20%;
      height: 50px;
      background-color: #c9302c;
      float: left;
      margin-top: -20px;
      margin-bottom: 20px;
    }
    #header{
      width: 100%;
      height: 65px;
      background: #0e1c35;
      float: left;
      margin-top: -20px;
      margin-bottom: 20px;
      position: fixed;
      z-index: 5;
    }
    .box{
      padding-right: 30px;
      line-height: 60px;
    }
    i{
      color: rgb(41, 134, 177);
    }
    .button{
        font-size: 16px;
        background: #014b85;
        border: none;
        padding: 5px 20px;
        color: white;
        border-radius: 5px
    }
    .button:hover{
        transition: 0.2s;
        font-size: 16px;
        background: white;
        border: none;
        padding: 5px 20px;
        color: #014b85;
        border: 1px solid #014b85;
        border-radius: 5px
    }
    #icon{
      height: 50px !important;
    }
    #icon a:hover{
      color:rgb(41, 134, 177) !important;
    }
    img{
      margin-top: -4px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border:1px solid #ccc;
      object-fit: contain;
    }
    .img-user{
     margin-top: -4px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border:1px solid #ccc;
      object-fit: contain;
    }
    .font{
        font-size: 16px !important;
    }
    .font-30{
    font-size: 30px;
    }
    .btn-friend{
        background: none;
        border: none;
    }
    .username{
        font-size: 16px;
        color: white;
        line-height: 70px;
    }
    #profile a:hover{
      background-color: none !important;
    }
    #logout{
      margin-left: 83%;
    }
    .dropdown-menu{
      margin-top: -30px;
    }
  </style>
</head>
<body>
  <div class="container">
    <!-- Button to Open the Modal -->
  
    <!-- The Modal -->
    <div class="modal" id="myModal1">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Update Avartar</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <form action="/profile" enctype="multipart/form-data" method="POST" style="margin-top: 10px">
              <label class="custombutton" id="custombutton" style="width:200px;border: 1px solid #ccc;display: inline-block; padding: 6px 12px;cursor: pointer;">
              <input type="file" name="upload" accept="image/*" style=" display: none;" onchange="document.getElementById('custombutton').style.border = '2px solid lightgreen'">
              Chọn ảnh mới 
              </label>
              <input type="submit" value="Upload" style="border: 1px solid #2d2d2d ; padding: 6px 12px; cursor: pointer; background-color: #2d2d2d; color: #ccc">
          </form>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>
<!-- 
    modal2 change Password -->
    <div class="modal" id="myModal2">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Change Password</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <form action="/profile" enctype="multipart/form-data" method="POST" style="margin-top: 10px">
              <p>New Password</p>
              <input type="password" placeholder="new password">
              <p>Confirm Password</p>
              <input type="password" placeholder="confirm new Password">
              <br>
              <button type="submit">Reset Password</button>
    
          </form>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
  <div id="all">
  <div class="container-fluid d-flex" id="header">
    <% if(user){ %>
    
    <!-- <div>
         <a id="profile" href="/profile"><img src="/upload/<%=user.userImage%>"> </a>
    </div> -->
    <div class="dropdown" style="top: 30%">
      <button class="btn-friend" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="img-user" src="/upload/<%=user.userImage%>">
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="height: 120px; width: 300px; margin-top: -19px;">
        <div class="container" style="background-color: #eee; margin-top: 5px;">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
            <i class="far fa-address-card" style="font-size: 38px;"></i>
          </button>
          <p style="display: inline-block; font-size: 17px;">Change Avatar</p>
        </div>
        <div class="container" style="background-color: #eee; margin-top: 5px;">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
            <i class="fas fa-key" style="font-size: 40px;"></i>
          </button>
          <p style="display: inline-block; font-size: 17px;">Change Password</p>
        </div> 
        </div>
    </div>
  
    <p class="ml-1 username"><%=user.username%></p>
    <div class="dropdown" style="top: 30%">
        <button class="btn-friend" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="font-30 fas fa-user-friends"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="height: 500px; width: 400px">
            <div class="p-2">
                <a href="/search"> <i class="fa fa-search"></i> Find Friends</a>

            </div>
            <!-- <span class="caret"></span></button> -->
            <% if(user.request){ %>
            <% for(var i=0; i< newfriend.length; i++) {%>
                  <div class="row mt-3 m-0 border-bottom mb-4 pb-2">
                      <div class="col-2">
                          <img class="ml-1" src="upload/<%= image %>">
                      </div>
                      <div class="col-3">
                          <h4 style="line-height: 40px;"><%= newfriend[i].username %></h4>
                      </div>
                      <div class="col-3 mt-2">
                          <div style="width: 50%; display: inline;">
                              <input type="hidden" name="senderId" id="senderId" value="<%= newfriend[i].userId %>">
                              <input type="hidden" name="senderName" id="senderName" value="<%= newfriend[i].username %>">
                              <button  type="submit" id="accept_friend" class="button" >Accept</button>
                          </div>
                      </div>
                      <div class="col-3 mt-2">
                          <div style="width: 50%;  display: inline;">
                              <input type="hidden" name="user_Id" id="user_Id" value="<%= newfriend[i].userId %>">
                             <button type="submit" id="cancel_friend" class="button" >Cancel</button>
                          </div>
                      </div>
                  </div>
           
            <% } %>
            <% } else{ %>
            <div>
              <h4 style="text-align:center">No requests</h4>
            </div>
            <% } %>
        </div>

    </div>
    
    <div  class="dropdown" style="top: 30%"> 
      <button class="btn-friend" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i title="Add Group" class="fas fa-users font-30"></i> 
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="height: 200px; width: 300px">
      <form style="margin-left: 30px; margin-top: 20px;">
        <div class="form-group" style="width: 70%;">
          <label for="exampleInputEmail1" style="font-size: 16px;">Name Group</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name group" style="height: 40px; font-size: 16px;">
        </div>
        <button type="submit" class="btn btn-primary" style="width: 80px; height: 40px; font-size: 20px;">Add</button>
      </form>

    </div>
    </div>
    <div id="logout" class="dropdown" style="top: 30%"> 
      
      <a href="/user/logout"><i class="fas fa-sign-out-alt font-30 "></i></a> 
    </div>
    
    
    <% } else{ %>
        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/signup">Signup</a></li>
    <% } %>
    <!-- <div class="row">
        <div role="presentation" class="col-8">
            <a href="/search">Search <i class="fa fa-search"></i></a>
        </div>

    </div> -->
    <!-- <ul class="nav navbar-right">
      <% if(user){ %>
        <li class="box">
           <a id="profile" href="/profile"><img src="/upload/<%=user.userImage%>"> </a>
        </li>
        <li style="margin-top: 8px;">
          <div class="dropdown" style="">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          <span class="caret"></span></button>
            <ul class="dropdown-menu" style="width: 300px; height: 400px; overflow-y: scroll;">
               <li ><a href="/search"> Find Friends <i class="fa fa-search"></i></a></li>
              <% if(user.request){ %>
              <% for(var i=0; i< newfriend.length; i++) {%>
              <li style="border-bottom: 1px solid lightgray">
                <a href="#">
                    <div class="row">
                        <div class="col-1">
                            <img src="upload/<%= image %>">
                        </div>
                        <div class="col-5">
                            <h4><%= newfriend[i].username %></h4>
                        </div>
                        <div class="col-3">
                            <div style="width: 50%; display: inline;">
                                <input type="hidden" name="senderId" id="senderId" value="<%= newfriend[i].userId %>">
                                <input type="hidden" name="senderName" id="senderName" value="<%= newfriend[i].username %>">
                                <button type="submit" id="accept_friend" class="btn btn-primary" style="width: 8em">Accept</button>
                            </div>
                        </div>
                        <div class="col-3">
                            <div style="width: 50%;  display: inline;">
                                <input type="hidden" name="user_Id" id="user_Id" value="<%= newfriend[i].userId %>">
                               <button type="submit" id="cancel_friend" class="btn btn-primary" style="width: 8em">Cancel</button>
                            </div>
                        </div>
                    </div>
                </a>
              </li>
              <% } %>
              <% } else{ %>
              <div>
                <h4 style="text-align:center">No requests</h4>
              </div>
              <% } %>
            </ul>
          </div>
        </li>
        <li id="icon" class="box"><a href="/user/logout"><i class="fas fa-sign-out-alt "></i></a></li>
      <% } else{ %>
        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/signup">Signup</a></li>
      <% } %>
    </ul> -->
  </div>
</div>

<!-- <script>
  $(document).ready(function() {
    $("#myModal").modal("show");
  });
</script> -->

  <script type="text/javascript" src="/js/sendRequest.js"></script>
</body>
</html>

